.select-research-button {
    background-color: #f0f0f0;
    color: #333;
    padding: 3px 6px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
    text-align: left; /* 텍스트를 왼쪽 정렬 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-research-button:hover {
}
